.view{
  height: 100vh;
}
body{
  margin: 0px;
  padding: 0px;
}

.card{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border: 1px solid pink;
    border-radius: 10px;
}